{% extends 'base.html.twig' %}
{% block body %}
    <p class="mx-20 my-5">Bienvenue sur la bibliothèque en ligne ! Notre bibliothèque virtuelle vous permet de découvrir et d'accéder à une large collection de livres numériques en tout temps et en tout lieu. Que vous soyez un passionné de littérature, un étudiant ou un professionnel cherchant des ressources de recherche, notre bibliothèque en ligne est là pour répondre à vos besoins. Grâce à notre plateforme conviviale, vous pouvez facilement parcourir les différents genres littéraires, accéder à des titres récents et classiques, et même profiter de nos recommandations de lecture personnalisées. Nous sommes fiers de vous offrir une expérience de lecture immersive et pratique. Inscrivez-vous dès maintenant pour commencer à explorer notre collection virtuelle et rejoignez notre communauté de lecteurs passionnés!
    </p>
{% endblock %}