{% extends 'base.html.twig' %}
{% block body %}
        <div class=" flex justify-center my-2 py-5 bg-[#F9dcc4]">
            <h2 class=" text-4xl md:text-6xl">Bienvenu sur votre bibliothèque</h2>
        </div>
{% endblock %}